img#LoginLogo {
  width: 50px;
  height: 50px;
  margin-left: 0px;
  margin-top: 20px;
}

.react-confirm-alert-body {
  width: 400px;
}

.top {
  margin-left: 60px;
  margin-top: -40px;

}

.wrapper {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  height: 100%;
  background-color: #333;
  padding: 20px;
  color: white;
  position: fixed;
  left: 0px;
  top: 85px;
  font-size: 18px;
}

.nav {
  background-color: #333;
  width: 250px;
  position: fixed;
}

.sidebar-item {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 10px;

}

.sidebar-item:hover {
  background-color: #555;

}

.sidebar-icon {
  margin-top: 5px;
}

.main-content {
  flex: 1;
  padding: 20px;
}

#base {
  margin-top: 40px;
}

#home1 {
  font-size: 30px;
}

#create1 {
  font-size: 30px;
}

#reel1 {
  font-size: 30px;
}

#f1 {
  font-size: 30px;
}

  #profile1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 8px;
}


#logout {
  font-size: 30px;
}

.Home {
  margin-top: 5px;
}

.Search {
  margin-top: 5px;
}

.Create {
  margin-top: 5px;
}

.Reels {
  margin-top: 5px;
}

.Friends {
  margin-top: 5px;
}

.Profile {
  margin-top: 5px;
}

.Logout {

  margin-top: 5px;
}

.modal-content {
  background-color: #333;
  color: white;
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  font-size: 24px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body button,
.modal-body input[type="file"] {
  margin-top: 15px;
  padding: 10px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-body button:hover,
.modal-body input[type="file"]:hover {
  background-color: #777;
}

.modal-footer {
  border-top: none;
}

.modal-content {
  background-color: #333;
  color: white;
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  font-size: 24px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  margin-top: 20px;
  margin-left: -40px;
  border-radius: 10px;
  background-color: rgb(84, 83, 83);
  color: rgb(216, 208, 208);
  border: none;
  outline: none;
  width: 330px;
  height: 50px;
  resize: none;
  padding-left: 10px;
  padding-top: 12px;
  overflow: hidden;
}

textarea::placeholder {
  color: rgb(193, 192, 192);
}


.modal-body button,
.modal-body input[type="file"] {
  margin-top: 15px;
  padding: 10px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.modal-body input[type="file"]::file-selector-button {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  font-weight: 500;
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.btn-close {
  background: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27rgba(125, 123, 123, 1)%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e");
}


.modal-body button:hover,
.modal-body input[type="file"]:hover {
  background-color: #777;
}

.camera-icon {
  margin-right: 10px;
}

.modal-footer {
  border-top: none;
}

#b1,
#b2,
#b3 {
  width: 150px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  color: rgb(52, 50, 50);
  outline: none;
  transition: background-color 0.3s ease;
}

#b3 {
  margin-top: -15px;
  margin-bottom: 30px;
  margin-right: 10px;
}

#b2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 195px;
  margin-top: 10px;
}

#b1 {
  margin-top: -20px;
  margin-right: 10px;
}

#b1:hover,
#b2:hover,
#b3:hover {
  background-color: #777;
}

.camera-options {
  margin-top: 10px;
}

.captured-image {
  width: 500px;
  margin-top: -20px;
  height: 400px;
}

#cameraPreview {
  width: 100%;
  margin-top: 10px;
  transition: margin-top 0.3s ease;
}

p {
  font-weight: bold;
}

.addMore {
  font-size: 13px;
}

#LoginAlert {
  width: fit-content;
  margin-left: 500px;
}

.login-home-logo{
  cursor: pointer;
}

#cam-modal button.btn-close
  {
    position: absolute;
    top: 108px;
  right: 30px;
}

@media screen and (max-width:1024px) {
  .top {
    position: absolute;
    top: 40px;
  }
  .nav{
    width: 200px;
  }
  .sidebar{
    width: 200px;
  }

  #b2 {
    margin-left: 295px;
  }
  textarea{
    margin-left: 50px;
  }

#b3{
  margin-right: 0px;
}
#b1{
  margin-right: 0px;
}
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 571px;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: none;
    gap: 30px;
    left: 0px;
    background-color: black;
    border-top: 1px solid rgb(185, 182, 182);
    padding: 0;
  }

  .sidebar-item>span {
    display: none;
  }

  #home1 {
    margin-top: -33px;
    margin-left: 80px;
    font-size: 28px;
  }

  #create1 {
    margin-top: -2px;
    font-size: 25px;

  }

  #reel1 {
    margin-top: -3px;
    font-size: 30px;

  }

  #f1 {
    margin-top: -3px;
    font-size: 30px;

  }

  #profile1 {
    margin-top: -4px;
width: 30px;
height: 30px;
  }

    #logout {
        position: absolute;
        top: -400px;
        right: 40px;
        font-size: 28px;
    }

  .nav {
    background-color: black;
    width: 100%;
    height: 70px;
    position: fixed;
    border-bottom: 1px solid rgb(185, 182, 182);
  }

  #f1 {
    margin-top: -3px;
    font-size: 28px;
  }

  #t1 {
    position: absolute;
    top: -30px;
    left: 20px;

  }

  img#LoginLogo {
    margin-left: 20px;
    margin-top: 0px;
  }

  textarea {
    margin-left: 40px;
  }

  #b2{
    margin-left: 290px;
  }


#Createsmile {
  margin-top: -372px;
  margin-left: 10px;
}

}



@media screen and (max-width: 426px) {
  .sidebar {
    top: 423px;
    left: 0px;
    width: 600px;
display: flex;
justify-content: flex-start;
  }

  #logout {
    position: absolute;
    top: -253px;
    right: 200px;
    font-size: 28px;
}

  #home1{
    margin-left: 75px;
  }

  textarea {
    margin-left: 30px;
  }

  #b2{
    margin-left: 230px;
  }

  #Createsmile {
    margin-left: -30px;
  }

  #profile1{
    margin-left: -5px;
    margin-top: -8px;
    width: 28px;
    height: 28px;
  }
  
  #create1{
    margin-top: -6px;
  }

#home1{
  margin-top: -38px;
}

#reel1{
  margin-top: -9px;
}

#create-post{
  margin-left: 125px;
  font-size: 23px;
}

.captured-image {
  width: 405px;
  margin-top: -20px;
  height: 400px;
}
}

@media screen and (max-width: 376px) {
  .sidebar {
    display: flex;
    justify-content: flex-start;
    top: 421px;
    left: 0px;
    width: 700px;
    gap: 60px;
  }

  #logout {
    position: absolute;
    top: -249px;
    right: 350px;
    font-size: 28px;
}

  .top {
    margin-left: 60px;
    top: 50px;
  }

  #home1{
    margin-left: 30px;
  }

  #create1{
    margin-left: -20px;
  }

  #reel1{
    margin-left: -20px;
  }

  #profile1{
    margin-left: -20px;
  }
  #b2{
    margin-left: 188px;
  }
  textarea {
    margin-left: 10px;
    width: 310px;
  }
  #Createsmile {
    margin-left: -80px;
  }
  #create-post{
    margin-left: 100px;
    font-size: 22px;
  }

  .captured-image {
    width: 355px;
    margin-top: -20px;
    height: 400px;
}
}

@media screen and (max-width: 320px) {
  .sidebar {
    display: flex;
    justify-content: flex-start;
    top: 424px;
    left: -15px;
    width: 700px;
    gap: 60px;
  }

  #logout {
    top: -253px;
    right: 386px;
    font-size: 30px;
}
  .top {
    left: 90px;
  }
  #home1{
    margin-left: 20px;
  }
  .modal-body button{
    font-size: 12px
  }
  .modal-body input[type="file"]{
    height: 45px;
    width: 280px;
    font-size: 12px
  }

  input::file-selector-button {
    margin-top: -3px;
    height: 33px;
    align-items: center;
  }

  #b1{
    width: 110px;
  }
  #b2{
    width: 90px;
    margin-left: 188px;
  }
  #b3 {
    margin-right: 5px;
    width: 90px;
}

  textarea {
    margin-left: 5px;
    width: 280px;
  }
  #Createsmile {
    margin-left: -110px;
    margin-top: -425px;
  }


  .react-confirm-alert {
    width: 280px;
    height: 150px;
    margin-left: -60px;
  }
  #b1 {
    width: 90px;
    margin-right: 5px;
}

#create-post{
  margin-left: 80px;
  font-size: 21px;
}

#Createsmile {
  margin-left: -110px;
  margin-top: -472px;
}

.choose-file-container input[type=file]::file-selector-button {
  padding: .6em .6em;
  margin-top: -5px;
}

.captured-image {
  width: 300px;
  margin-top: -20px;
  height: 300px;
}

.emoji-picker-containers-e {
  position: absolute;
  left: 30px;
  top: -10px;
}
#profile1 {
  margin-left: -20px;
  margin-top: -10px;
}
}