.react-confirm-alert-button-group {
  display: flex;
  margin-top: 120px;
  justify-content: flex-start;
  align-items: flex-start;
}

.cards {
  overflow: visible;
  width: 300px;
  height: 400px;
  margin-top: 40px;
  margin-left: 520px;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front,
.back {
  background-color: #383737;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cards:hover .content {
  transform: rotateY(180deg);
}

.titles{
  font-size: 15px;
  font-weight: 350;
  color: rgb(192, 189, 189);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  margin-top: -60px;
}



.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 10px;
  margin-left: 10px;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffbb66;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}

#bottom {
  background-color: #ff8866;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background-color: #ff2233;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

span#\@ {
  font-style: italic;
  letter-spacing: 10px;
  color: #A67C00;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

#cardProfile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 0px;
  margin-top:-60px;
}

.un {
  font-size: 20px;
  color: rgb(209, 207, 207);
  margin-top: 0px;
  margin-right: 10px;
}

.n {
  font-size: 14px;
  margin-top: -30px;
  color: rgb(209, 207, 207);
  font-weight: normal;
}

.accountType {
  font-size: 14px;
  color: rgb(209, 207, 207);
  font-weight: normal;
  margin-top: 0px;
  margin-left: 20px;
  line-height: 20px;
  word-spacing: 2px;
  letter-spacing: 2px;
}

#bio{
  width: fit-content;
  height: fit-content;
  line-break: anywhere;
  margin-top: -10px;
  font-weight: 300;
  font-style: italic;
}

.logo2 img {
  width: 50px;
  height: 60px;
  margin-top: 0px;
}

.logo2 {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}

.text2 {
  margin-left: 20px;
  margin-top: 20px;

}

#back{
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}
#back:hover{
  color: rgb(120, 116, 116);
}

#back:active{
  color:white;
}

.pointsone{
  font-size: 20px;
  font-weight: 500;
  color: rgb(219, 216, 216);

}

.coinsone{
  color: #DAA520;
  font-size: 26px;
}

.coinicon{
  display: flex;
  gap: 10px;
  position: absolute;
top: 30px;
right:20px;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 375px;
  gap: 2px; 
  justify-items: center; 
  overflow: hidden;
  padding: 50px;
}

.user-post-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 375px;
  gap: 2px; 
  justify-items: center; 
  overflow: hidden;
  padding: 50px;
}

.post-item {
  overflow: hidden; 
  position: relative;
  width: 100%;
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  cursor: pointer;  
}


.post-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
   
}

.post-svg {
  width: 20px; 
  height: 20px;
  position: absolute;
  top: 40px;
  right: 15px;
}


img.modal-profile-pic {
  height: 35px;
  width: 35px;
  border-radius: 30px;
  margin-top: 0px;
  margin-left: 30px;
}

img.user-modal-profile-pic {
  height: 35px;
  width: 35px;
  border-radius: 30px;
  margin-top: 0px;
  margin-left: 30px;
}

.caption-profile{
  height: 35px;
  width: 35px;
  border-radius: 30px;
  margin-top: -10px;
  margin-left: 60px;
}

.user-caption-profile{
  height: 35px;
  width: 35px;
  border-radius: 30px;
  margin-top: -10px;
  margin-left: 60px;
}

.modal-profile-username{
  font-weight: 500;
  margin-top: 3px;
}

.user-modal-profile-username{
  font-weight: 500;
  margin-top: 3px;
}

#hr{
  margin-left: 140px;
}


.modal-profile-info{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(79, 79, 79);
  padding: 10px;
  width: 445px;
  position: relative;
  top: -71px;
  left: 442px;
  z-index: 2;
  background-color: #1a1919;
}

.user-modal-profile-info{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(79, 79, 79);
  padding: 10px;
  width: 445px;
  position: relative;
  top: -71px;
  left: 442px;
  z-index: 2;
  background-color: #1a1919;
}

.modal-profile-infos{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(79, 79, 79);
  padding: 10px;
  width: 445px;
  position: relative;
  margin-left: 445px;
  margin-top: -70px;
  z-index: 2;
  background-color: #1a1919;
}

.modal-profile-right{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(79, 79, 79);
  padding: 10px;
  width: 446px;
  position: relative;
  margin-left: 442px;
  margin-top: -70px;
  z-index: 2;
  background-color: #1a1919;
}

.modal-profile-ryt{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(79, 79, 79);
  padding: 10px;
  width: 448px;
  position: relative;
  margin-top: -71px;
  margin-left: 443px;
  z-index: 2;
  background-color: #1a1919;
}

.post-timer {
  margin-left: -10px;
}

.modal-profile-username{
  margin-left: 10px;
}

.user-modal-profile-username{
  margin-left: 10px;
}

.modal-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.modal-left {
  flex: 1; 
  overflow: hidden; 
}

.media-modal {
  width:450px;
  height:520px;
position: absolute;
left: 0px;
top: -106px;
}

.modal-header{
  position: relative;
  z-index: 3;
}

#modal>.modal-content {
  background-color: #181717;
  height: 498px;
  width: 900px;
  color: white;
  border-radius: 0px;
  margin-left: -30px;
  margin-top: 40px;
position: fixed;
}

#modal button.btn-close{
position: absolute;
top: 78px;
right: 30px;
}

.modal-right {
  flex: 1; 
  padding-left: 10px; 
  
}

#modal {
  max-width: 80%; 
  max-height: 80%;
}

.post-counter{
  display: flex;
  gap: 20px;
  border-top: 1px solid rgb(79, 79, 79);
  border-bottom: 1px solid rgb(79, 79, 79);
  padding: 20px;
  width: 460px;
  position: relative;
  margin-top: 65px;
  margin-left: 430px;
  z-index: 2;
  background-color: #171717;

}

.post-counter-with-comments {
  display: flex;
  gap: 20px;
  border-top: 1px solid rgb(79, 79, 79);
  border-bottom: 1px solid rgb(79, 79, 79);
  padding: 20px;
  width: 446px;
  position: relative;
  margin-top: 25px;
  margin-left: 443px;
  z-index: 2;
  background-color: #171717;
}

.post-counters {
  display: flex;
  gap: 20px;
  border-top: 1px solid rgb(79, 79, 79);
  border-bottom: 1px solid rgb(79, 79, 79);
  padding: 20px;
  width: 444px;
  position: relative;
  margin-left: 445px;
  margin-top: -10px;
  z-index: 2;
  background-color: #171717;
} 

.user-post-counters {
  display: flex;
  gap: 20px;
  border-top: 1px solid rgb(79, 79, 79);
  border-bottom: 1px solid rgb(79, 79, 79);
  padding: 20px;
  width: 444px;
  position: relative;
  margin-left: 445px;
  margin-top: -10px;
  z-index: 2;
  background-color: #171717;
} 

.post-counters-with-comments {
  display: flex;
  gap: 20px;
  border-top: 1px solid rgb(79, 79, 79);
  border-bottom: 1px solid rgb(79, 79, 79);
  padding: 20px;
  width: 450px;
  position: relative;
 margin-left: 440px;
 margin-top: -55px;
  z-index: 2;
  background-color: #171717;
}

.user-post-counters-with-comments {
  display: flex;
  gap: 20px;
  border-top: 1px solid rgb(79, 79, 79);
  border-bottom: 1px solid rgb(79, 79, 79);
  padding: 20px;
  width: 450px;
  position: relative;
 margin-left: 440px;
 margin-top: -55px;
  z-index: 2;
  background-color: #171717;
}

.scrollable {
  margin-left: 180px;
  margin-top: -50px;
  position: relative;
  z-index: 0;
  height: 330px; 
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.user-scrollable {
  margin-left: 180px;
  margin-top: -50px;
  position: relative;
  z-index: 0;
  height: 330px; 
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

p.comment-text-user {
  font-weight: 100;
}

p.user-comment-text-user {
  font-weight: 100;
}


.like-counter{
  display: flex;
  gap: 10px;
  margin-left: 20px; 
}

.comment-counter{
  display: flex;
  gap: 10px;
  margin-left: 20px; 
}

.Under-one{
  display: flex;
  margin-top: 20px;
  margin-left: 240px;
  width: 100%;
}

.Under-more{
  display: flex;
  margin-top: 20px;
  margin-left: 240px;
  width: 100%;
}

#caption{
  margin-top: -3px;
  color: white;
  font-weight: 300;
}

#caption-block-line{
  margin-top: -3px;
  color: white;
  font-weight: 300;
  line-break:anywhere;
  width: 180px;
}

#user-caption-block-line{
  margin-top: -3px;
  color: white;
  font-weight: 300;
  line-break:anywhere;
  width: 180px;
}



#description{
    margin-top: -3px;
  color: white;
  font-weight: 300;
}

#description-one-block-line{
  margin-top: -3px;
  color: white;
  font-weight: 300;
  line-break:anywhere;
  width: 180px;
}

#comment-inputs{
  margin-left: 380px;
  margin-top: 30px;
  width: 430px;
  background: none;
  padding-left: 50px;
}

#user-comment-inputs{
  margin-left: 380px;
  margin-top: 30px;
  width: 430px;
  background: none;
  padding-left: 50px;
}

#comment-input{
  margin-left: 380px;
  margin-top: 25px;
  width: 430px;
  background: none;
  padding-left: 50px;
}

#modal #submit-comment{
  position: absolute;
  top: 500px;
  right: 10px;
  background: none;
}

#emoji-picker-container{
  position: absolute;
  top: 30px;
  right: 450px;
  z-index: 4;
}

#smiler{
 margin-top: -438px;
 margin-left: 116px;
 font-size: 30px;
}

.disable{
  visibility:hidden;
}

.modal-previous{
  position: absolute;
  top: 180px;
  left: -30px;
 opacity: 0.5;
 cursor: pointer;
}

.modal-previous:hover{
opacity: 1;
}

.modal-previous:active{
  opacity: 0.5;
  }

.modal-next{
  position: absolute;
  top: 180px;
  left: 420px;
opacity: 0.5;
cursor: pointer;
}

.modal-next:hover{
  opacity: 1;
  }
  
  .modal-next:active{
    opacity: 0.5;
    }

    .multiple-files-icon {
      margin-left: -21px;
      margin-top: -315px;
  }

  .user-multiple-files-icon {
    margin-left: -21px;
    margin-top: -315px;
}

    .logo2{
      cursor: pointer;
    }
    .modal-image-transition {
      transition: transform 0.5s ease;
    }

    
    .main-pvt-icons{
      display: flex;
      gap: 90px;
      float: right;
      margin-right: 40px;
      margin-top: -60px;
    }

    .cameras-icon {
      color: rgb(210, 209, 209);
      margin-top: 20px;
      margin-right: 60px;
      cursor: pointer;
  }

.cameras-icon:hover{
  color: white;
}
    
.logout-icon {
  color: rgb(210, 209, 209);
  margin-top: 22px;
  margin-left: 0px;
  cursor: pointer;
}

    .logout-icon:hover{
      color: white;
    }

    .no-comment{
      font-size: 20px;
      color: rgb(197, 194, 194);
      font-weight: 800;
      position: relative;
      top: -50px;
      left: 15px;
    }
    
    .no-comment:hover{
      color: white;
    }
    
    .para-no-comment{
      font-size: 13px;
      font-weight: 600;
      color: rgb(197, 194, 194);
      position: relative;
      top: -50px;
      left: 40px;
    }
    
    .para-no-comment:hover{
      color: white;
    }
    
    #fi{
      font-size: 25px;
      color: rgb(197, 194, 194);
     position: relative;
     top: -70px;
      border: 2px solid rgb(197, 194, 194);
      border-radius: 50px;
      padding: 10px 15px;
    }
    
    #fi:hover{
      color: white; 
      border-color: white;
    }
    
    .no-comment-yet{
      cursor: pointer;
    }

    .no-comment-provider{
      position: relative;
margin-left: 370px;
margin-top: 150px;

    }
    
    .no-comment-providers {
      position: relative;
      margin-left: 380px;
      margin-top: 132px;
  }

  .comment-profile-user {
    height: 35px;
    width: 35px;
    border-radius: 30px;
    margin-top: -5px;
    margin-left: 30px;
  }

  .user-comment-profile-user {
    height: 35px;
    width: 35px;
    border-radius: 30px;
    margin-top: -5px;
    margin-left: 30px;
  }

  .comment-user-profile {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}


p.comment-username-user {
  font-size: 18px;
  font-weight: 500;
}

p.user-comment-username-user {
  font-size: 18px;
  font-weight: 500;
}

.comments-section {
  margin-left: 270px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 60px;
}

.user-comments-section {
  margin-left: 270px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 60px;
}

.comment-section {
  margin-left: 275px;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.user-comment {
  display: flex;
}

  p.comment-timestamp-user {
    font-size: 12px;
    opacity: 0.8;
    font-weight: 300;
    cursor: pointer;
    margin-top: -30px;
    margin-left: 300px; 
}

p.user-comment-timestamp-user {
  font-size: 12px;
  opacity: 0.8;
  font-weight: 300;
  cursor: pointer;
  margin-top: -30px;
  margin-left: 300px; 
}

.post-smiles {
  font-size: 26px;
  margin-top: 50px;
  margin-left: -10px;
  color: rgb(193, 192, 192);
}

.reel-smiles{
  font-size: 26px;
  margin-top: 50px;
  margin-left: -10px;
  color: rgb(193, 192, 192);
}

.post-time {
  font-size: 12px;
  opacity: 0.8;
  font-weight: 300;
  cursor: pointer;
}

.reel-time {
  font-size: 12px;
  opacity: 0.8;
  font-weight: 300;
  cursor: pointer;
}


#post-time{
  position: relative;
  right: 140px;
  top: 40px;
}

#reel-time{
  position: relative;
  right: 140px;
  top: 24px;
}

.caption-profile-username{
  margin-top: -5px;
  margin-left: 10px;
}

.user-caption-profile-username{
  margin-top: -5px;
  margin-left: 10px;
}

.unscrollable{
  margin-left: 185px;
}

#profile-cam-modal button.btn-close{
  position: absolute;
  top: 108px;
right: 30px;
}

.video-media-modal {
  width: 452px;
  height: 520px;
  object-fit: cover;
  position: absolute;
  top: -54px;
  left: 0px;
  z-index: 4;
}

.profile-mute-toggle{
  position: absolute;
  z-index: 4;
  top: 320px;
  left: 400px;
  opacity: 0;
  display: flex;
  font-size: 20px;
  padding: 10px;
  align-items: center;
  border-radius: 50%;
  margin-top: 90px;
  background-color: rgba(39, 37, 37,0.8);
  transition: opacity 0.3s ease;
  cursor: pointer;
}


.modal-left:hover .profile-mute-toggle{
  opacity: 1;
}

.profile-video-overlay{
  font-size: 15px;
  background-color: rgba(39, 37, 37,0.3);
  border-radius: 50%;
position: absolute;
top: 180px;
left: 220px;
z-index: 4;
padding: 10px;
cursor: pointer;
display: flex;  
}

video{
  cursor: pointer;
}

.post-item{
  cursor: pointer;
}

#Logout {
  position: absolute;
  top: 46px;
  right: 50px;
  font-size: 28px;
}

.multiple-files-icon svg {
  position: relative;
  right: 10px;
}

.user-multiple-files-icon svg {
  position: relative;
  right: 10px;
}

.like {
  font-size: 30px;
  margin-top: 3px;
}

.comment {
  font-size: 35px;
}


@media screen and (max-width:1024px) {
  .cards {
    width: 300px;
    height: 400px;
    margin-top: 40px;
    margin-left: 320px;
  }
  #cardProfile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 0px;
    margin-top:-30px;
  }
  
  .logo2 img {
    width: 50px;
    height: 50px;
    margin-top: 0px;
  }
  
  .logo2 {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .text2 {
    margin-left: 20px;
    margin-top: 20px;
  
  }
  
  #back{
    font-size: 20px;
    margin-left: 20px;
  }

  #Logout {
    top: 37px;
    right: 60px;
}

.post-grid {
  grid-auto-rows: 369px;
  padding: 40px;
  margin-top: -40px;
}

.user-post-grid{
  grid-auto-rows: 369px;
  padding: 40px;
  margin-top: 0px;
}

.post-image {
  width: 100%;
  height: 96%;
  object-fit: fill;
}

.multiple-files-icon {
  margin-left: -30px;
  margin-top: -302px;
  margin-right: 10px;
}

.user-multiple-files-icon {
  margin-left: -30px;
  margin-top: -302px;
  margin-right: 10px;
}


#emoji-picker-container {
  top: 450px;
}

.video-media-modal {
  height: 518px;
}

.in-one {
  margin-left: 105px;
}

div#comments-id.in-one {
  margin-left: -2px;
}
}

@media screen and (max-width:768px) {
  .cards {
    margin-top: 40px;
    margin-left: 220px;
  }

  .logo2 img {
    width: 50px;
    height: 50px;
    margin-top: 0px;
  }

  #Logout {
    top: 30px;
    right: 70px;
}

.cameras-icon {
  margin-top: 20px;
  margin-right: 50px;
}

.post-image {
  width: 230px;
  height: 250px;
  object-fit: fill;
}

.post-grid {
  grid-auto-rows: 250px;
  padding: 40px;
  margin-top: -50px;
  margin-bottom: 20px;
}

.user-post-grid {
  grid-auto-rows: 250px;
  padding: 40px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.post-item{
  height: 300px;
}

.multiple-files-icon {
  margin-right: 13px;
  margin-top: -175px;
}

.user-multiple-files-icon {
  margin-right: 28px;
  margin-top: -175px;
}

.multiple-files-icon svg {
  width: 15px;
  right: 0px;
}

.user-multiple-files-icon svg {
  width: 15px;
  right: 0px;
}

.media-modal {
  width: 350px;
  height: 440px;
  position: absolute;
  left: 0px;
  top: -104px;
}

.video-media-modal {
  width: 350px;
  height: 440px;
  position: absolute;
  left: 0px;
  top: -54px;
}

#modal>.modal-content {
  height: 420px;
  width: 700px;
  margin-left: -40px;
  margin-top: 40px;
}

.modal-profile-ryt {
  padding: 10px;
  width: 348px;
  margin-top: -71px;
  margin-left: 340px;
}

img.modal-profile-pic {
  height: 30px;
  width: 30px;
  margin-left: 20px;
}

img.user-modal-profile-pic {
  height: 30px;
  width: 30px;
  margin-left: 20px;
}

.comment-profile-user {
  height: 30px;
  width: 30px;
  margin-top: -5px;
  margin-left: 20px;
}

.user-comment-profile-user {
  height: 30px;
  width: 30px;
  margin-top: -5px;
  margin-left: 20px;
}


p.comment-username-user {
  font-size: 15px;
  font-weight: 500;
}

p.user-comment-username-user {
  font-size: 15px;
  font-weight: 500;
}

p.comment-timestamp-user {
  font-size: 10px;
  margin-top: -30px;
  margin-left: 160px;
}

p.user-comment-timestamp-user {
  font-size: 10px;
  margin-top: -30px;
  margin-left: 160px;
}

.scrollable {
  height: 250px;
}

.user-scrollable {
  height: 250px;
  margin-left: 139px;
  margin-top: -62px;
}


.post-counter-with-comments {
  padding: 15px;
  width: 344px;
  margin-top: 36px;
  margin-left: 343px;
}

.user-info {
  margin-top: -70px;
  margin-left: -80px;
}

.post-smiles {
  margin-top: -32px;
  margin-left: -105px;
}

#modal #submit-comment {
  top: 415px;
  right: 10px;
}

.modal-profile-infos {
  width: 346px;
}

.modal-next {
  top: 150px;
  left: 350px;
}

.modal-previous {
  top: 150px;
  left: -30px;
}

.comment-profile-user {
  margin-left: 2px;
}

.user-comment-profile-user {
  margin-left: 2px;
}


.post-smiles {
  margin-top: -28px;
  margin-left: -110px;
}

#emoji-picker-container {
  position: absolute;
  top: 430px;
  right: 350px;
}

.modal-profile-infos {
  padding: 10px;
  width: 348px;
  left: -52px;
  margin-top: -70px;
}


.no-comment-provider {
  position: relative;
  margin-left: 330px;
  margin-top: 100px;
}

.unscrollable {
  margin-left: 135px;
}

.post-counters {
  width: 346px;
  left: -52px;
  top: -26px;
}

.user-post-counters {
  width: 346px;
  left: -52px;
  top: -55px;
}

#comment-inputs {
  margin-left: 380px;
  margin-top: -5px;
  width: 430px;
}

#user-comment-inputs {
  margin-left: 380px;
  margin-top: -44px;
  width: 430px;
}

.post-counters-with-comments {
  width: 348px;
  position: relative;
  margin-left: 363px;
  margin-top: -41px;
}

.user-post-counters-with-comments {
  width: 348px;
  position: relative;
  margin-left: 338px;
  margin-top: -41px;
}

.Under-more {
  margin-top: 20px;
  margin-left: 162px;
}

.comments-section {
  margin-left: 301px;
  margin-top: 80px;
}

.user-comments-section {
  margin-left: 301px;
  margin-top: 80px;
}

.modal-profile-info {
  width: 349px;
  position: relative;
  top: -71px;
  left: 365px;
}

.user-modal-profile-info {
  width: 349px;
  position: relative;
  top: -71px;
  left: 338px;
}

#comment-input {
  margin-left: 380px;
  margin-top: 1px;
  width: 430px;
  background: none;
  padding-left: 50px;
}

#comment-input.have-comment-box {
  margin-left: 380px;
  margin-top: 22px;
  width: 430px;
  background: none;
  padding-left: 50px;
}

#user-caption-block-line {
  margin-top: 31px;
  margin-left: -98px;
  color: white;
  font-weight: 300;
  line-break: anywhere;
  width: 241px;
}

.profile-video-overlay {
  font-size: 15px;
  background-color: rgba(39, 37, 37, 0.3);
  border-radius: 50%;
  position: absolute;
  top: 159px;
  left: 172px;
  z-index: 4;
  padding: 10px;
  cursor: pointer;
  display: flex;
}

.profile-mute-toggle {
  position: absolute;
  z-index: 4;
  top: 246px;
  left: 301px;
  opacity: 0;
  display: flex;
  font-size: 20px;
  padding: 10px;
  align-items: center;
  border-radius: 50%;
  margin-top: 90px;
  background-color: rgba(39, 37, 37, 0.8);
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.user-cap-count-small .have-comment-box#user-comment-inputs {
  margin-top: 30px;
}

.cap-count-more .have-comment-box#user-comment-inputs {
  margin-top: 30px;
}

div#comm-no-zero.cap-no-len {
  margin-top: 44px;
}
}

@media screen and (max-width:426px) {
  .cards {
    width: 250px;
    height: 300px;
    margin-top: 25px;
    margin-left: 85px;
  }

  .logo2 img {
    width: 40px;
    height: 40px;
    margin-top: 0px;
  }
  #cardProfile {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 0px;
    margin-top:0px;
  }
  
  .un {
    font-size: 15px;
    color: rgb(209, 207, 207);
    margin-top: 0px;
}
  
  .n {
    font-size: 12px;
    margin-top: 0px;
    color: rgb(209, 207, 207);
    font-weight: normal;
  }
  
  .bio {
    font-size: 12px;
    margin-top: 20px;
    margin-left: 0px;
    line-height: 20px;
    word-spacing: 2px;
    letter-spacing: 2px;
  }
  
  .logo2 img {
    width: 50px;
    height: 50px;
    margin-top: -10px;
  }
  
  .logo2 {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .text2 {
    margin-left: 20px;
    margin-top: 20px;
  
  }
  
  #back{
    font-size: 20px;
    margin-left: 10px;
  }

  .coinicon {
    gap: 5px;
    top: 20px;
    right: 20px; 
  }

  .pointsone {
    font-size: 16px;
  }

  .coinsone{
    font-size: 24px;
  }

  .accountType{
    margin-top: -30px;
  }

  .titles{
    font-size: 14px;
    font-weight: 350;
  }

  #Logout {
    top: 25px;
    right: 40px;
}

.cameras-icon {
  margin-top: 19.5px;
  margin-right: -30px;
}

.main-pvt-icons {
  margin-right: 0px;
  margin-top: -70px;
}

#Logout {
  top: 26px;
  right: 20px;
}

#cam-title {
  margin-left: 130px;
  margin-top: -10px;
}

.post-image {
  width: 142px;
  height: 175px;
  object-fit: fill;
}

.post-grid {
  grid-auto-rows: 150px;
  padding: 10px;
  margin-top: -16px;
  margin-bottom: 20px;
}

.multiple-files-icon svg {
  width: 15px;
  right: -5px;
  top: 35px;
}

.user-multiple-files-icon svg {
  width: 15px;
  right: -5px;
  top: 35px;
}

.post-item {
  height: 175px;
}

#modal>.modal-content {
  height: 280px;
  width: 390px;
  margin-left: 10px;
  margin-top: 40px;
}

.media-modal {
  width: 200px;
  height: 306.5px;
  position: absolute;
  left: 0px;
  top: -110px;
}

.video-media-modal {
  width: 200px;
  height: 306.5px;
  position: absolute;
  left: 0px;
  top: -60px;
}

.profile-video-overlay {
  font-size: 8px;
  background-color: rgba(39, 37, 37, 0.3);
  border-radius: 50%;
  position: absolute;
  top: 78px;
  left: 96px;
  z-index: 4;
  padding: 10px;
  cursor: pointer;
  display: flex;
}

.profile-mute-toggle {
  position: absolute;
  z-index: 4;
  top: 118px;
  left: 161px;
  opacity: 0;
  display: flex;
  font-size: 14px;
  padding: 10px;
  align-items: center;
  border-radius: 50%;
  margin-top: 90px;
  background-color: rgba(39, 37, 37, 0.8);
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.modal-profile-ryt {
  padding: 0px;
  width: 188px;
  left: -75px;
  top: -5px;
}

img.modal-profile-pic {
  height: 25px;
  width: 25px;
  margin-top: 8px;
  margin-left: 21px;
}

img.user-modal-profile-pic {
  height: 25px;
  width: 25px;
  margin-top: 8px;
  margin-left: 21px;
}

.modal-profile-username {
  margin-left: 10px;
  font-size: 14px;
  margin-top: 9px;
}

.user-modal-profile-username {
  margin-left: 10px;
  font-size: 14px;
  margin-top: 9px;
}

#modal button.btn-close {
  position: absolute;
  top: 60px;
  right: 18px;
  font-size: 6px;
}

.comment-profile-user {
  margin-left: 0px;
  width: 25px;
  height: 25px;
}

.user-comment-profile-user {
  margin-left: 0px;
  width: 25px;
  height: 25px;
}

p.comment-text-user {
  font-weight: 100;
  font-size: 12px;
  margin-top: -2px;
}

p.user-comment-text-user {
  font-weight: 100;
  font-size: 12px;
  margin-top: -2px;
}

p.comment-username-user {
  font-size: 12px;
  margin-top: -2px;
  font-weight: 500;
}

p.user-comment-username-user {
  font-size: 12px;
  margin-top: -2px;
  font-weight: 500;
}

p.comment-timestamp-user {
  font-size: 8px;
  margin-top: -30px;
  margin-left: 40px;
}

p.user-comment-timestamp-user {
  font-size: 7px;
  margin-top: -13px;
  margin-left: 29px;
  width: max-content;
}

div#post-counters-multiple.user-post-counters-with-comments {
  margin-top: -39px;
  margin-left: 306px;
}

.scrollable {
  height: 190px;
}

.user-scrollable {
  height: 190px;
}

.comment-section {
  margin-left: 185px;
  margin-top: 94px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.post-counter-with-comments {
  padding: 0px;
  width: 186px;
  margin-top: 6px;
  margin-left: 265px;
}

p.like-count {
  width: 5px;
  height: 5px;
  margin-top: 10px;
  font-weight: 100;
}

.like {
  font-size: 20px;
  margin-top: -21px;
}

.like-counter {
  display: flex;
  gap: 10px;
  margin-left: 20px;
  margin-top: 13px;
}

.comment-counter {
  display: flex;
  gap: 10px;
  margin-left: 20px;
  margin-top: 15px;
}

#comment-input.have-comment-box {
  margin-left: 119px;
  margin-top: 22px;
  width: 190px;
  background: none;
  padding-left: 30px;
  font-size: 13px;
}

#comment-input::placeholder{
  font-size: 13px;
}

#modal #submit-comment {
  top: 273px;
  right: -18px;
}


svg#post-timer {
  margin-top: 2px;
}

#post-time {
  position: relative;
  font-size: 8px;
  display: flex;
  right: 0px;
    top: 20px;
  flex-direction: row;
}

.comment {
  font-size: 24px;
}

#smiler {
  margin-top: -434px;
  margin-left: -26px;
  font-size: 24px;
}

.post-smiles {
  margin-top: -160px;
  margin-left: -130px;
}

#emoji-picker-container em-emoji-picker {
  width: 215px;
  height: 260px;
}

#emoji-picker-container {
  left: -368px;
}

.caption-profile {
  height: 25px;
  width: 25px;
  margin-top: -10px;
  margin-left: 41px;
}

.user-caption-profile {
  height: 25px;
  width: 25px;
  margin-top: -10px;
  margin-left: 41px;
}

.caption-profile-username {
  margin-top: -5px;
  margin-left: 6px;
  font-size: 12px;
}

.user-caption-profile-username {
  margin-top: -5px;
  margin-left: 6px;
  font-size: 12px;
}

#caption {
  margin-top: -3px;
  font-size: 10px;
  margin-left: 5px;
}

.modal-next {
  top: 90px;
  left: 195px;
  height: 20px;
}

.modal-previous {
  top: 90px;
  left: -24px;
  height: 20px;
}

.modal-profile-infos {
  padding: 0px;
  width: 188px;
  left: -127px;
  margin-top: -77px;
}

#fi {
  font-size: 15px;
  position: relative;
  top: -90px;
  left: -65px;
  border-radius: 50px;
  padding: 8px 10px;
}

.no-comment {
  font-size: 13px;
  position: relative;
  top: -76px;
  left: -29px;
}

.para-no-comment {
  font-size: 8px;
  position: relative;
  top: -78px;
  left: -16px;
}

.post-counters {
  width: 186px;
  left: -126px;
  top: -56px;
  padding: 0;
}

.user-post-counters {
  width: 186px;
  left: -126px;
  top: -56px;
  padding: 0;
}

.Under-one {
  margin-top: 20px;
  margin-left: 162px;
}

.no-comment-provider {
  position: relative;
  margin-left: 255px;
  margin-top: 100px;
}

.no-comment-box#comment-inputs {
  margin-left: 119px;
  position: relative;
  top: -26px;
  width: 190px;
  background: none;
  padding-left: 30px;
}

.no-comment-box#user-comment-inputs {
  margin-left: 119px;
  position: relative;
  top: -59px;
  width: 190px;
  background: none;
  padding-left: 30px;
}

#comment-inputs::placeholder{
  font-size: 13px;
}

#user-comment-inputs::placeholder{
  font-size: 13px;
}

.post-smiles {
  margin-top: -155px;
  margin-left: -130px;
}

div#modal-profile-single {
  left: -128px;
}

#caption-block-line {
  margin-top: 12px;
  margin-left: -65px;
  font-weight: 200;
  line-break: anywhere;
  width: 100px;
  font-size: 9px;
}

#user-caption-block-line {
  margin-top: 12px;
  margin-left: -83px;
  font-weight: 200;
  line-break: anywhere;
  width: 147px;
  font-size: 9px;
}

div#post-counters-single {
  margin-top: -28px;
}

p.count-like-red {
  font-weight: 400;
  font-size: 13px;
}

.like-counter {
  gap: 4px;
}

.comment-counter {
  gap: 4px;
}

div#post-counters-multiple {
  margin-top: -28px;
}

div#post-counters-single-with-comments {
  margin-top: 11px;
}

div#caption-no {
  margin-top: 100px;
}

div#caption-block-line-no {
  margin-top: -15px;
}

div#singlefiles {
  margin-top: 120px;
}

div#more-files {
  margin-top: 120px;
}

div#modal-profile-single.modal-profile-info {
  left: 355px;
}

div#modal-profile-single.user-modal-profile-info {
  left: 317px;
}

.modal-profile-info {
  width: 190px;
  position: relative;
  top: -77px;
  padding: 0;
}

.user-modal-profile-info {
  width: 190px;
  position: relative;
  top: -77px;
  padding: 0;
}

.comments-section {
  margin-left: 271px;
  margin-top: 40px;
  gap: 40px;
  margin-bottom: 40px;
}

.user-comments-section {
  margin-left: 271px;
  margin-top: 52px;
  gap: 40px;
  margin-bottom: 40px;
}

.Under-more {
  display: flex;
  margin-top: 20px;
  margin-left: 152px;
  width: 100%;
}

.scrollable#cap-scroll {
  height: 190px;
  margin-top: -70px;
  margin-right: 180px;
}

.user-scrollable#cap-scroll {
  height: 190px;
  margin-top: -75px;
  margin-right: 134px;
}

.post-counters-with-comments {
  width: 188px;
  position: relative;
  margin-left: 356px;
  padding: 0;
}

.user-post-counters-with-comments {
  width: 188px;
  position: relative;
  margin-left: 323px;
  padding: 0;
}

.user-post-counters-with-comments#post-counters-single {
  width: 182px;
  position: relative;
  margin-left: 323px;
  padding: 0;
}

#comment-inputs.have-comment-box {
  margin-left: 380px;
  margin-top: 15px;
  width: 430px;
  padding-left: 20px;
}

#user-comment-inputs.have-comment-box {
  margin-left: 380px;
  margin-top: 15px;
  width: 430px;
  padding-left: 20px;
}

.post-smiles {
  margin-top: -160px;
  margin-left: -130px;
}

#smiler{
  margin-top: -429px;
  margin-left: -26px;
}

#modal #submit-comment {
  top: 278px;
  right: -18px;
}

textarea#comment-inputs {
  font-size: 13px;
}

textarea#user-comment-inputs {
  font-size: 13px;
}

.smile-cap {
  position: relative;
  top: -6px;
}

.more-cap-len-one {
  margin-top: 8px;
}

.cap-count-small {
  margin-top: 0px;
}

.user-cap-count-small {
  margin-top: 57px;
}

div.more-cap-len-zero#smile-id-mark-cap {
  position: relative;
  top: 4px;
}

.more-cap-len-one#smile-no-mark-cap {
  margin-top: -3px;
}

.user-post-grid{
  grid-auto-rows: 150px;
  padding: 40px;
  margin-top: 0px;
}

.user-cap-count-small .have-comment-box#user-comment-inputs {
  position: relative;
  top: -65px;
}

div#comm-no-zero.cap-no-len {
  margin-top: 20px;
}

div#less-count-comm.cap-count-more {
  margin-top: 55px;
}
}

@media screen and (max-width:376px) {
  .cards {
    margin-left: 60px;
    margin-top: 40px;
  }

  .titles{
    font-size: 12px;
    font-weight: 350;
  }

  #Logout {
    top: 18px;
    right: 20px;
}

#cam-title {
  margin-left: 100px;
  margin-top: -10px;
}

.multiple-files-icon {
  margin-right: 53px;
  margin-top: -175px;
  margin-left: -95px;
}

.user-multiple-files-icon {
  margin-right: 69px;
  margin-top: -171px;
  margin-left: -95px;
}

.multiple-files-icon svg {
  width: 15px;
  right: -50px;
  top: 32px;
}

.user-multiple-files-icon svg {
  width: 15px;
  right: -50px;
  top: 32px;
}

#modal>.modal-content {
  height: 250px;
  width: 350px;
  margin-left: 5px;
  margin-top: 40px;
}

.media-modal {
  width: 175px;
  height: 276.8px;
  position: absolute;
  left: 0px;
  top: -110px;
}

.video-media-modal {
  width: 175px;
  height: 276.8px;
  position: absolute;
  left: 0px;
  top: -60px;
}

.modal-profile-ryt {
  padding: 0px;
  width: 172px;
  left: -88px;
  top: -5px;
}

.scrollable {
  height: 170px;
}

.user-scrollable {
  height: 170px;
}

.post-counter-with-comments {
  padding: 0px;
  width: 172px;
  margin-left: 252px;
}

.comment-user-profile {
  display: flex;
  gap: 5px;
  margin-top: 14px;
  margin-left: -12px;
}

.comment-section {
  margin-left: 185px;
  margin-top: 94px;
  display: flex;
  flex-direction: column;
  gap: 39px;
}

p.comment-timestamp-user {
  font-size: 6px;
  margin-top: -34px;
  margin-left: 16px;
}

p.user-comment-timestamp-user {
  font-size: 6px;
  margin-top: -34px;
  margin-left: 16px;
  width: max-content;

}


#smiler {
  font-size: 20px;
  margin-top: -453px;
  margin-left: -48px;
}

#emoji-picker-container em-emoji-picker {
  width: 188px;
  height: 233px;
}

#emoji-picker-container {
  left: -361px;
}

#modal #submit-comment {
  top: 253px;
  right: -14px;
}

#post-time {
  position: relative;
  font-size: 7px;
  display: flex;
  right: 0px;
  top: 20px;
}

#comment-input::placeholder{
  font-size: 10px;
}

#comment-inputs::placeholder{
  font-size: 10px;
}

#user-comment-inputs::placeholder{
  font-size: 10px;
}

#comment-inputs {
  margin-top: -11px;
  font-size: 10px;
}


#user-comment-inputs {
  margin-top: -11px;
  font-size: 10px;
}

.modal-next {
  top: 65px;
  left: 168px;
  height: 13px;
}

.modal-previous {
  top: 65px;
  left: -22px;
  height: 13px;
}

.modal-profile-infos {
  padding: 0px;
  width: 176px;
  margin-top: -77px;
}

div#modal-profile-single {
  left: -139px;
}

.Under-one {
  margin-top: 63px;
  margin-left: 176px;
}

img.modal-profile-pic {
  height: 25px;
  width: 25px;
  margin-top: 8px;
  margin-left: 14px;
}

img.user-modal-profile-pic {
  height: 20px;
  width: 21px;
  margin-top: 11px;
  margin-left: 27px;
}

.unscrollable {
  margin-left: 115px;
  margin-top: -38px;
}

div#more-files {
  margin-top: 104px;
}

.post-counters {
  width: 170px;
  left: -137px;
}

.user-post-counters {
  width: 170px;
  left: -137px;
  top: -31px;
}

div#caption-block-line-no {
  margin-top: -33px;
}

div#post-counters-single {
  margin-top: -26px;
}

div#singlefiles {
  margin-top: 136px;
}

.caption-comment#singlefiles{
  margin-top: 103px;
}

div#caption-no {
  margin-top: -22px;
}

div.no-comment-provider#caption-no {
  margin-top: -2px;
}

#modal #submit-comment {
  top: 250px;
  right: -14px;
  font-size: 14px;
}

div.no-comment-provider#caption-block-line-no {
  margin-top: -47px;
}

#caption {
  margin-top: -12px;
}

.modal-profile-info {
  width: 174px;
  position: relative;
  top: -77px;
  padding: 0;
}

div#modal-profile-single.modal-profile-info {
  left: 351px;
}

div#modal-profile-single.user-modal-profile-info {
  left: 351px;
}

.caption-profile {
  height: 25px;
  width: 25px;
  margin-top: -16px;
  margin-left: 28px;
}

.user-caption-profile {
  height: 20px;
  width: 20px;
  margin-top: -16px;
  margin-left: 28px;
}

.caption-profile-username {
  margin-top: -14px;
  margin-left: 7px;
}

.user-caption-profile-username {
  margin-top: -14px;
  margin-left: 7px;
}

.user-caption-profile-username {
  font-size: 9px;
}

#caption-block-line {
  margin-top: 6px;
  margin-left: -65px;
  font-weight: 200;
  line-break: anywhere;
  width: 100px;
  font-size: 9px;
}

p.comment-text-user {
  font-weight: 100;
  font-size: 11px;
  margin-top: -2px;
  margin-left: -5px;
}

p.user-comment-text-user {
  font-weight: 100;
  font-size: 9px;
  margin-top: -2px;
  margin-left: -5px;
}

div#caption-commSec-block-line-no {
  margin-right: 21px;
}

div#post-counters-single {
  margin-top: -56px;
}

.post-counters-with-comments {
  width: 171px;
  position: relative;
  margin-left: 352px;
  padding: 0;
}

.user-post-counters-with-comments {
  width: 171px;
  position: relative;
  margin-left: 352px;
  padding: 0;
}

div#post-counters-single-with-comments {
  margin-left: 254px;
}

.caption-comment {
  margin-top: -40px;
}

div.post-counters#post-counters-single {
  margin-top: -31px;
}

div#more-files .no-comment-provider {
  margin-top: 131px;
}

.no-comment-box#comment-inputs {
  margin-left: 108px;
  margin-top: -10px;
}

.no-comment-box#user-comment-inputs {
  margin-left: 111px;
  margin-top: 47px;
}

div#post-counters-multiple {
  margin-top: -24px;
}

.unscrollable#cap-scroll {
  margin-left: 115px;
  margin-top: -33px;
}

.cap-len {
  margin-top: -35px;
}

#user-caption-block-line {
  margin-top: 4px;
  margin-left: -53px;
  font-weight: 200;
  line-break: anywhere;
  width: 113px;
  font-size: 8px;
}

.user-modal-profile-info {
  width: 182px;
  position: relative;
  top: -77px;
  padding: 0;
}

.user-post-counters-with-comments#post-counters-single {
  width: 173px;
  position: relative;
  margin-left: 299px;
  padding: 0;
}

.user-cap-count-small .have-comment-box#user-comment-inputs {
  position: relative;
  top: -54px;
}

div#modal-profile-single.user-modal-profile-info {
  left: 300px;
  width: 174px;
}

.user-modal-profile-username {
  margin-left: 7px;
  font-size: 11px;
  margin-top: 12px;
}

.user-scrollable#cap-scroll {
  height: 180px;
  margin-top: -75px;
  margin-right: 134px;
}

.user-post-counters-with-comments {
  width: 171px;
  position: relative;
  top: 13px;
  margin-left: 308px;
  padding: 0;
}

#user-comment-inputs.have-comment-box {
  margin-left: 380px;
  margin-top: 31px;
  width: 430px;
  padding-left: 20px;
}

.profile-video-overlay {
  font-size: 8px;
  background-color: rgba(39, 37, 37, 0.3);
  border-radius: 50%;
  position: absolute;
  top: 70px;
  left: 83px;
  z-index: 4;
  padding: 10px;
  cursor: pointer;
  display: flex;
}

.profile-mute-toggle {
  position: absolute;
  z-index: 4;
  top: 87px;
  left: 138px;
  opacity: 0;
  display: flex;
  font-size: 14px;
  padding: 10px;
  align-items: center;
  border-radius: 50%;
  margin-top: 90px;
  background-color: rgba(39, 37, 37, 0.8);
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.user-comment-profile-user {
  margin-left: 0px;
  width: 20px;
  height: 19px;
}

p.user-comment-username-user {
  font-size: 9px;
  margin-left: -5px;
  margin-top: -2px;
  font-weight: 500;
}

.user-cap-count-small .no-comment-box#user-comment-inputs {
  margin-top: -10px;
}

div#post-counters-multiple.user-post-counters-with-comments {
  margin-top: -49px;
  margin-left: 295px;
}

.n-one #modal-profile-single.user-modal-profile-info {
  left: 291px;
  width: 174px;
}

div#comm-no-zero.cap-no-len {
  margin-top: -46px;
}

.cap-no-len#comm-line #post-counters-multiple.user-post-counters-with-comments {
  margin-top: -52px;
  margin-left: 294px;
}

div#comment-id.in-one .Under-more#cap-block-low {
  margin-left: 48px;
}

}

@media screen and (max-width:320px) {
  .cards {
    width: 250px;
    height: 300px;
    margin-top: 40px;
    margin-left: 35px;
  }
  #cardProfile {
    width: 70px;
    height: 70px;
    margin-left: 0px;
    margin-top: -70px;
  }
  .un {
    font-size: 13px;
    color: rgb(209, 207, 207);
    margin-top: 0px;
    margin-left: 0px;
  }
  
  .n {
    font-size: 11px;
    margin-top: 0px;
margin-left: 0px;
  }
  
  .bio {
    font-size: 11px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .logo2 img {
    margin-top: -10px;
  }
#text2{
  margin-left: 40px;
}
.accountType {
  font-size: 12px;
}

.coinicon {
  gap: 3px;
  top: 20px;
  right: 10px; 
}

.pointsone {
  font-size: 12px;
}

.coinsone{
  font-size: 18px;
}

.titles{
  font-size: 10px;
  font-weight: 350;
}

.cameras-icon {
  margin-top: 21px;
  margin-right: -50px;
}

#cam-title {
  margin-left: 70px;
  margin-top: -10px;
}

.post-image {
  width: 140px;
  height: 159px;
  object-fit: fill;
}

.post-grid {
  grid-auto-rows: 142px;
  padding: 5px;
  margin-top: -16px;
  margin-bottom: 10px;
}

.multiple-files-icon {
  margin-right: 14px;
  margin-top: -175px;
  margin-left: -68px;
}

.multiple-files-icon svg {
  width: 15px;
  right: -10px;
  top: 40px;
}

.user-multiple-files-icon {
  margin-right: 34px;
  margin-top: -175px;
  margin-left: -68px;
}

.user-multiple-files-icon svg {
  width: 15px;
  right: -10px;
  top: 40px;
}

#modal>.modal-content {
  height: 220px;
  width: 290px;
  margin-left: 6px;
  margin-top: 40px;
}

.media-modal {
  width: 139px;
  height: 246.5px;
  position: absolute;
  left: 0px;
  top: -110px;
}

.video-media-modal {
  width: 139px;
  height: 246.5px;
  position: absolute;
  left: 0px;
  top: -61px;
}

.profile-video-overlay {
  font-size: 6px;
  background-color: rgba(39, 37, 37, 0.3);
  border-radius: 50%;
  position: absolute;
  top: 55px;
  left: 60px;
  z-index: 4;
  padding: 10px;
  cursor: pointer;
  display: flex;
}

.profile-mute-toggle {
  position: absolute;
  z-index: 4;
  top: 61px;
  left: 105px;
  opacity: 0;
  display: flex;
  font-size: 10px;
  padding: 10px;
  align-items: center;
  border-radius: 50%;
  margin-top: 90px;
  background-color: rgba(39, 37, 37, 0.8);
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.modal-profile-ryt {
  padding: 0px;
  width: 150px;
  left: -105px;
  top: -5px;
}

img.modal-profile-pic {
  height: 20px;
  width: 20px;
  margin-top: 13px;
  margin-left: 14px;
}

img.user-modal-profile-pic {
  height: 18px;
  width: 18px;
  margin-top: 13px;
  margin-left: 4px;
}

.modal-profile-username {
  margin-left: 5px;
  font-size: 12px;
  margin-top: 14px;
}

.user-modal-profile-username {
  margin-left: 7px;
  font-size: 9px;
  margin-top: 15px;
}

.user-post-counters-with-comments {
  top: 13px;
  margin-left: 286px;
}

#modal button.btn-close {
  position: absolute;
  top: 39px;
  right: 14px;
  font-size: 3px;
}

.scrollable {
  height: 132px;
}

.user-scrollable {
  height: 132px;
}

.comment-profile-user {
  margin-left: -25px;
  width: 20px;
  height: 20px;
}

.user-comment-profile-user {
  margin-left: -25px;
  width: 20px;
  height: 20px;
}

p.comment-timestamp-user {
  font-size: 5px;
  margin-top: -34px;
  margin-left: -20px;
}

p.user-comment-timestamp-user {
  font-size: 5px;
  margin-top: -19px;
  margin-left: -20px;
}

.post-counter-with-comments {
  padding: 0px;
  width: 149px;
}

div#post-counters-single-with-comments {
  margin-left: 233px;
}

#post-time {
  position: relative;
  font-size: 5px;
  display: flex;
  right: 14px;
  top: 24px;
  width: max-content;
}

#comment-input.have-comment-box {
  margin-left: 119px;
  margin-top: 22px;
  width: 190px;
  background: none;
  padding-left: 20px;
  font-size: 10px;
}

#smiler.smile-cap {
  font-size: 18px;
  margin-top: -484px;
  margin-left: -86px;
}

#emoji-picker-container em-emoji-picker {
  width: 158px;
  height: 230px;
}

#emoji-picker-container {
  left: -365px;
  top: 408px;
}

.modal-next {
  top: 55px;
  left: 132px;
  height: 13px;
}

.modal-previous {
  top: 55px;
  left: -22px;
  height: 13px;
}

.modal-profile-infos {
  padding: 0px;
  width: 150px;
  margin-top: -77px;
}

div#modal-profile-single {
  left: -147.5px;
}

.caption-profile-username {
  margin-top: -14px;
  margin-left: 7px;
  font-size: 9px;
}

.user-caption-profile-username {
  margin-top: -14px;
  margin-left: 7px;
  font-size: 9px;
}

.caption-profile {
  height: 20px;
  width: 20px;
  margin-top: -16px;
  margin-left: 21px;
}

.user-caption-profile {
  height: 20px;
  width: 20px;
  margin-top: -16px;
  margin-left: 21px;
}

#caption {
  margin-top: -12px;
  font-size: 8px;
}

#fi {
  font-size: 8px;
  position: relative;
  top: -101px;
  left: -80px;
  border-radius: 50px;
  padding: 5px 6px;
}

.no-comment {
  font-size: 10px;
  position: relative;
  top: -93px;
  left: -39px;
}

.para-no-comment {
  font-size: 5px;
  position: relative;
  top: -99px;
  left: -23px;
}

.post-counters {
  width: 150px;
  left: -159px;
  top: -76px;
  padding: 0;
}

.user-post-counters {
  width: 150px;
  left: -159px;
  top: -42px;
  padding: 0;
}


div.modal-profile-infos#modal-profile-single {
  left: -157.5px;
}

.unscrollable#cap-scroll {
  margin-left: 103px;
  margin-top: -33px;
}

#smiler.smile-no-cap {
  font-size: 18px;
  margin-top: -477px;
  margin-left: -88px;
}

#caption-block-line {
  margin-top: 3px;
  margin-left: -50px;
  font-weight: 200;
  line-break: anywhere;
  width: 100px;
  font-size: 7px;
}

div.post-counters#post-counters-single {
  margin-top: -35px;
}

    .no-comment-box#comment-inputs {
        position: relative;
        top: -42px;
        width: 130px;
        background:none;
        padding-left: 0px;
    }

    .no-comment-box#user-comment-inputs {
      position: relative;
      top: -42px;
      width: 130px;
      background:none;
      padding-left: 0px;
  }


    .no-comment-box#comment-inputs {
      margin-left: 90px;
      margin-top: -11px;
      font-size: 10px;
  }

  .no-comment-box#user-comment-inputs {
    margin-left: 90px;
    margin-top: 13px;
    font-size: 10px;
}


  #modal #submit-comment {
    top: 198px;
    right: -21px;
    font-size: 14px;
}

.cap-no-len {
  margin-left: 2px;
}

.modal-profile-info {
  width: 151px;
  position: relative;
  top: -77px;
  padding: 0;
}

div#modal-profile-single.modal-profile-info {
  left: 319px;
}

.user-modal-profile-info {
  width: 151px;
  position: relative;
  top: -77px;
  padding: 0;
}

div#modal-profile-single.user-modal-profile-info {
  width: 151px;
  left: 283px;
}

.user-post-counters-with-comments#post-counters-single {
  width: 149px;
  position: relative;
  margin-left: 284px;
  padding: 0;
}

div.comments-section#caption-commSec-block-line-no {
  margin-right: 20px;
}


div.user-comments-section#caption-commSec-block-line-no {
  margin-right: 20px;
}

.scrollable#cap-scroll {
  height: 150px;
  margin-top: -70px;
  margin-right: 180px;
}

.user-scrollable#cap-scroll {
  height: 150px;
  margin-top: -70px;
  margin-right: 154px;
}

p.comment-username-user {
  font-size: 10px;
  margin-top: -2px;
  margin-left: -5px;
}

p.user-comment-username-user {
  font-size: 10px;
  margin-top: -2px;
  margin-left: -5px;
}


p.comment-text-user {
  font-size: 10px;
}

p.user-comment-text-user {
  font-size: 10px;
}

div.post-counters-with-comments#post-counters-single {
  margin-top: -56px;
  margin-left: 321px;
}

.post-counters-with-comments {
  width: 149px;
  position: relative;
  padding: 0;
}

.user-post-counters-with-comments {
  width: 149px;
  position: relative;
  padding: 0;
}

.comments-section {
  margin-left: 271px;
  margin-top: 40px;
  gap: 29px;
}

.user-comments-section {
  margin-left: 271px;
  margin-top: 40px;
  gap: 29px;
}

#comment-inputs.have-comment-box {
  margin-left: 355px;
  margin-top: 27px;
  width: 430px;
  padding-left: 20px;
}

#user-comment-inputs.have-comment-box {
  margin-left: 355px;
  margin-top: 27px;
  width: 430px;
  padding-left: 20px;
}


.Under-more#cap-block-high {
  display: flex;
  margin-top: 20px;
  margin-left: 133px;
  width: 100%;
}

.user-cap-count-small .no-comment-box#user-comment-inputs {
  position: relative;
  top: -75px;
}

.n-one #modal-profile-single.user-modal-profile-info {
  left: 274px;
  width: 151px;
}

.user-comments-section#caption-commSec-no {
  margin-left: 271px;
  margin-top: 53px;
  gap: 35px;
}

div#post-counters-multiple.user-post-counters-with-comments {
  margin-top: -60px;
  margin-left: 274px;
}

.in-one .Under-more#cap-block-low {
  margin-left: 135px;
}
}