.registrations-images {
  position: fixed;
  width: 50%;
  max-width: 100%;
  margin-top: -20px;
  height: auto;
  animation: float 3s ease-in-out infinite;
}

.contain {
  margin-top: 80px;
}

.head {
  color: rgb(210, 206, 206);
  font-size: 23px;
  margin-top: 50px;
}

#text-input {
  width: 400px;
  height: 50px;
  border-radius: 30px;
  text-align: start;
}

.logoImg {
  width: 50px;
  height: 50px;
}

#logos {
  margin-left: 40px;
}


#submits {
  margin-left: 210px;
  margin-top: 20px;
}

.touch {
  margin-top: 30px;
}
#form {
  margin-left: 80px;
  margin-top: -30px;
}

#backed{
  font-size: 30px;
  color: rgb(192, 190, 190);
  position: absolute;
  top: 120px;
  left: 0px;
}

#backed:hover{
  color: rgb(250, 248, 248);
}


  #backed:active{
    color: rgb(192, 190, 190);

  }

  #backed-one{
    font-size: 30px;
    color: rgb(192, 190, 190);
    position: absolute;
    top: 90px;
    left: -20px;
  }
  
  #backed-one:hover{
    color: rgb(250, 248, 248);
  }
  
  
    #backed-one:active{
      color: rgb(192, 190, 190);
  
    }

@media screen and (max-width:1024px) {
  #form {
    margin-left: 40px;
    margin-top: -30px;

  }

  #text-input {
    margin-left: 0px;
    width: 350px;
    height: 50px;
  }

  .contain {
    margin-top: 10px;
  }

  .registrations-images {
    margin-top: 0px;
    height: auto;
  }

  #logos {
    margin-top: 10px;
  }

  #header {
    margin-top: 10px;
  }

  #submits {
    margin-left: 140px;
  }

  #backed{
    top: 115px;
  }
  #backed-one{
    top: 100px;
        left: 0px;
  }
}


@media screen and (max-width:768px) {
  #form {
    margin-left: -20px;
    margin-top: -30px;

  }

  #text-input {
    margin-left: 0px;
    width: 350px;
    height: 50px;
  }

  .contain {
    margin-top: 10px;
  }

  .registrations-images {
    margin-top: 0px;
    height: auto;
  }

  #logos {
    margin-top: 10px;
  }

  #header {
    margin-top: 10px;
  }

  #submits {
    margin-left: 140px;

  }

  #backed{
    font-size: 25px;
    top: 110px;
    left: 0px;
  }

  #backed-one{
    font-size: 25px;
    top: 110px;
    left: 0px;
  }
}

@media screen and (max-width:426px) {
  #form {
    margin-left: 0px;
  }

  #text-input {
    margin-left: -50px;
    width: 350px;
    height: 50px;
  }

  .contain {
    margin-top: 50px;
    background: none;
  }

  .registrations-images {
    display: none;
  }

  .head {
    margin-top: 45px;
    margin-left: -80px;
  }

  #logos {
    margin-top: 10px;
  }

  #submits {
    margin-left: 110px;
  }

  #backed {
    font-size: 30px;
    top: 100px;
    left: -90px;
    font-weight: bolder;
}

#backed-one {
  font-size: 30px;
  top: 70px;
  left: -10px;
  font-weight: bolder;
}

label#emn {
  margin-left: -10px;
}

}

@media screen and (max-width:376px) {
  #form {
    margin-left: 0px;
  }

  #text-input {
    margin-left: -44px;
    width: 350px;
    height: 50px;
  }

  .contain {
    margin-top: 50px;
    background: none;
  }

  .registrations-images {
    display: none;
  }

  .head {
    margin-top: 45px;
    margin-left: -60px;
  }

  #logos {
    margin-top: 10px;
  }

  #header {
    margin-top: 0px;
  }

  #submits {
    margin-left: 110px;
  }

  label#emn {
    margin-left: 10px;
}

#backed {
  top: 90px;
  left: -50px;
}

#backed-one {
  top: 50px;
  left: 5px;
}

label#emn {
  margin-left: -10px;
}
}

@media screen and (max-width:320px) {
  #form {
    margin-left: 0px;
  }

  #text-input {
    margin-left: -40px;
    width: 300px;
    height: 50px;
  }

  .contain {
    margin-top: 50px;
    background: none;
  }

  .registrations-images {
    display: none;
  }

  .head {
    margin-top: 45px;
    margin-left: -60px;
  }

  #logos {
    margin-top: 10px;
    margin-left: -30px;

  }

  #header {
    margin-top: 0px;
    margin-left: -30px;
  }

  #submits {
    margin-left: 70px;

  }

  .form-label {
    margin-left: -20px;
  }

  #backed {
    top: 68px;
    left: -53px;
}

    #backed-one {
      top: 68px;
  }

  #card-header{
    margin-left: 40px;
  }

  #card-title{
    margin-left: 40px;
  }

  #card-logo-one {
    margin-left: 40px;

  }
  
}